{% extends 'layout/base.html.twig' %}

{% block body %}
<style>
.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  height: auto;
  float: left; 

}
</style>

<body>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Périodes sauvegardés</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                {% for userByDate in user %}

                <li class="nav-item">
                        <a class="nav-link active" href='/product/{{ user[0]["data"].member.id }}/{{ userByDate["id_save"] }}' target="_blanc">
                            <span data-feather="home"></span>
                            {{ userByDate['created_at'] }} 
                        </a>
                </li>
                    
                {% endfor %}
                  
                </ul>

                <hr/>
          
                <table style="width:100%">
                    <tr>
                        <th>ID:</th>
                        <td>{{ user[0]["data"].member.id }}</td>
                    </tr>
                    <tr>
                        <th>Pseudo:</th>
                        <td>{{ user[0]["data"].member.pseudo }}</td>
                    </tr>
                    <tr>
                        <th>Age:</th>
                        <td><strong>{{ user[0]["data"].member.age }}</strong></td>
                    </tr>
                    <tr>
                        <th>Title:</th>
                        <td>{{ user[0]["data"].member.title }}</td>
                    </tr>
                    <tr>
                        <th>City:</th>
                        <td><strong>{{ user[0]["data"].member.city }}</strong></td>
                    </tr>
                    <tr>
                        <th>------</th>
                        <td>------</td>
                    </tr>
                    <tr>
                        <th>Yeux:</th>
                        <td><strong>{{ user[0]["data"]["mainColumn"]["Détails"]["data"][0][0].value|raw }}</strong></td>
                    </tr>
                    <tr>

                    <tr>
                        <th>Mensurations:</th>
                        <td><strong>{{ user[0]["data"]["mainColumn"]["Détails"]["data"][0][2]['value']|raw }}</strong></td>
                    </tr>
                    <tr>

                    <tr>
                        <th>Signes particuliers:</th>
                        <td><strong>{{ user[0]["data"]["mainColumn"]["Détails"]["data"][0][3]['value']|raw }}</strong></td>
                    </tr>
                    <tr>
                    <tr>
                        <th>Astrologie:</th>
                        <td><strong>{{ user[0]["data"]["mainColumn"]["Détails"]["data"][0][4]['value']|raw }}</strong></td>
                    </tr>
                    <tr>

                    <tr>
                        <th>Compatibilité:</th>
                        <td><strong>{{ user[0]["data"]["mainColumn"]["Détails"]["data"][1][0]['value']|raw }}</strong></td>
                    </tr>
                    <tr>
                    <tr>
                        <th>Style:</th>
                        <td><strong>{{ user[0]["data"]["mainColumn"]["Détails"]["data"][1][1]['value']|raw }}</strong></td>
                    </tr>
                    <tr>
                    <tr>
                        <th>Origines:</th>
                        <td><strong>{{ user[0]["data"]["mainColumn"]["Détails"]["data"][1][2]['value']|raw }}</strong></td>
                    </tr>
                    <tr>
                    <tr>
                        <th>Hobbies:</th>
                        <td><strong>{{ user[0]["data"]["mainColumn"]["Détails"]["data"][1][3]['value']|raw }}</strong></td>
                    </tr>
                    <tr>
                    <tr>
                        <th>Profession:</th>
                        <td><strong>{{ user[0]["data"]["mainColumn"]["Détails"]["data"][1][4]['value']|raw }}</strong></td>
                    </tr>
                    <tr>

                    <tr>
                        <th>Université:</th>
                        <td><strong>{{ user[0]["data"]["mainColumn"]["Détails"]["data"][1][5]['value']|raw }}</strong></td>
                    </tr>
                    <tr>


                    <tr>
                        <th>------</th>
                        <td>------</td>
                    </tr>
                    <tr>
                        <th>Online:</th>
                        <td>{{ user[0]["data"].member.online }}</td>
                    </tr>
                    <tr>
                        <th>Dead:</th>
                        <td>{{ user[0]["data"].member.dead }}</td>
                    </tr>
                    <tr>
                        <th>Is Blocked:</th>
                        <td>{{ user[0]["data"].member.isBlocked }}</td>
                    </tr>
                    <tr>
                        <th>in Contact:</th>
                        <td>{{ user[0]["data"].member.inContact }}</td>
                    </tr>
                    <tr>
                        <th>Can mail:</th>
                        <td>{{ user[0]["data"].member.canMail }}</td>
                    </tr>
                    <tr>
                        <th>Is Fake:</th>
                        <td>{{ user[0]["data"].member.isFaked }}</td>
                    </tr>
                    <tr>
                        <th>Can mail:</th>
                        <td>{{ user[0]["data"].member.canMail }}</td>
                    </tr>
                    <tr>
                        <th>In basket:</th>
                        <td>{{ user[0]["data"].member.inBasket }}</td>
                    </tr>
                    <tr>
                        <th>In basket:</th>
                        <td>{{ user[0]["data"].member.inBasket }}</td>
                    </tr> 
                    <tr>
                        <th>Last Connection:</th>
                        <td>{{ user[0]["data"].headingBlock.lastConnection }}</td>
                    </tr>
                    <tr>
                        <th>Latitude:</th>
                        <td style="color:red">{{ user[0]["data"].sideColumn.map.coords.memberLat }}</td>
                    </tr>  
                    <tr>
                        <th>Longitude:</th>
                        <td style="color:red">{{ user[0]["data"].sideColumn.map.coords.memberLng }}</td>
                    </tr>
                    
                    <tr>
                        <th>-------</th>
                        <td style="">---------</td>
                    </tr> 
                    <tr>
                        <th>Visited:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popu.visites }}</td>
                    </tr> 
                    <tr>
                        <th>Flash:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popu.flashs }}</td>
                    </tr> 
                    <tr>
                        <th>Contacts:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popu.contacts }}</td>
                    </tr> 
                   
                    <tr>
                        <th>Mails:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popu.mails }}</td>
                    </tr> 
                    <tr>
                        <th>Invits:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popu.invits }}</td>
                    </tr>                    
                    <tr>
                        <th>Bonus:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popu.bonus }}</td>
                    </tr> 
                    <tr>
                        <th>Popularité :</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popu.popu }}</td>
                    </tr> 
                    <tr>
                        <th>Id:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popu.id }}</td>
                    </tr>
                    <tr>
                        <th>Profile_completion:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popu.profile_completion }}</td>
                    </tr>                    
                    <tr>
                        <th>Rate:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popu.rate }}</td>
                    </tr> 

                    <tr>
                        <th>-------</th>
                        <td style="">---------</td>
                    </tr>               
                     <tr>
                        <th>mails:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popuData.mails }}</td>
                    </tr>                      
                    <tr>
                        <th>visites:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popuData.visites }}</td>
                    </tr> 
                    <tr>
                        <th>contacts:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popuData.contacts }}</td>
                    </tr> 
                    <tr>
                        <th>bonus:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popuData.bonus }}</td>
                    </tr> 
                    <tr>
                        <th>flashs:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.popuData.flashs|default('-') }}</td>
                    </tr> 

                    <tr>
                        <th>-------</th>
                        <td style="">---------</td>
                    </tr> 
                    <tr>
                        <th>Mails:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.constants.mails }}</td>
                    </tr> 
                    <tr>
                        <th>flashs:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.constants.flashs|default('-') }}</td>
                    </tr> 
                    <tr>
                        <th>Visites:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.constants.visites }}</td>
                    </tr> 
                    <tr>
                        <th>Contacts:</th>
                        <td style="">{{ user[0]["data"].headingBlock.popularity.constants.contacts }}</td>
                    </tr> 
                    <tr>
                        <th>-------</th>
                        <td style="">---------</td>
                    </tr> 

                    <tr>
                        <th>Can charm:</th>
                        <td style="">{{ user[0]["data"].buttons.canCharm }}</td>
                    </tr> 
                    <tr>
                        <th>Can add friends:</th>
                        <td style="color:red">{{ user[0]["data"].buttons.canAddFriend }}</td>
                    </tr> 
                    <tr>
                        <th>waitingCharm:</th>
                        <td style="color:red">{{ user[0]["data"].buttons.waitingCharm }}</td>
                    </tr> 
                    <tr>
                        <th>hasFriends:</th>
                        <td style="color:red">{{ user[0]["data"].buttons.hasFriends }}</td>
                    </tr> 

                </table>

            
                
            </div>
        </nav>

        
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        
                <h1 class="h2">{{ user[0]["data"].member.pseudo }}</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button id="update" class="btn btn-sm btn-outline-secondary">Mettre à jour le profil</button>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <img class="img-thumbnail" src="{{ user[0]["data"].member.cover }}">
                </div>
                <div class="col-4">
                <h3>Description</h3>
                <p>{{ user[0]["data"].mainColumn.Description.data[0].value|raw   }} </p>
                <h3>Recherche</h3>
                
        
                <p>{{ user[0]["data"].mainColumn['Shopping List'].data[0].value|raw  }}</p>

                </div>
                <div class="col-5">
                    <div id="geoloc" ></div>
                    <div id="map" style="height: 550px; "></div>
                </div>
                
            </div>
            <hr/>
              <div class="row">
                <div class="col-12">
                    {% for h in user[0]["data"].headingBlock.hashtags %}
                        <span class="badge badge-primary" style='font-size:24px'> 
                            {{ h.hashtag }}
                        </span>
                    {% endfor %}
                </div>
            </div>

            <hr/>
            <div style='background-color:#635a5a2b; padding:50px' class="row">
                <div class="col-12">
                                <div id ="responsive-images">   
                                        {% for picture in user[0]["data"].member.pictures %}
                                          <div class ="grid-item ">
                                                <a href="{{ picture.urlFullsize }}">
                                                    <img src="{{ picture.urlFullsize }}" alt="Note : {{ picture.note }}" class="img-thumbnail">
                                                </a> 
                                           </div>        
                                        {% endfor %}
                                 </div>
                    </div>

               </div>
            </div>
   
        </main>
    </div>
</div>


{% block javascripts %}

    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
   
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"></script>
    <script src='{{ asset('assets/js/leaflet_fullscreen.js') }}'></script>

    <script src="{{ asset('assets/js/leaflet_geometryutil.js') }}"></script>
    <script src="{{ asset('assets/js/leaflet_arrowheads.js') }}"></script>

    <script src='{{ asset('assets/js/leafleft_individual_map.js') }}'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>


       


        window.onload = function() {
            let leafletmap = new LeafleftMap({
                id: '{{ user[0]["data"].member.id }}',
                zoom: 5
            });
        };

        var id = '{{ user[0]["data"].member.id }}';


        $('#update').on('click', function(e) {
            e.preventDefault();
            $.ajax({
                url:'/api/similar/' + id, 
                method: 'GET',

            }).done(function(data){

                switch (data) {
                    case true:
                        Swal.fire(
                            'Terminé',
                            'Des mises à jours ont été trouvées !',
                            'success'
                        );

                        Swal.fire({
                            title: 'Terminé',
                            text: "Des mises à jours ont été trouvées !",
                            icon: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ok'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload(true);  
                            }
                        })
                    break;

                    case false: 
                        Swal.fire(
                            'Terminé',
                            'Aucune mise à jour trouvée',
                            'info'
                        );
                    break;
                    default :
                        Swal.fire(
                            'Terminé',
                            data,
                            'info'
                        );
                    break;
                }
               
            });
        });



    </script>


{% endblock %}


{% endblock %}


{# </body> #}
{# </html> #}