{% extends 'layout/base.html.twig' %}
{#{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}#}
{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">

                {{ form_start(form) }}

                    <div class="auth-box card mt-5">
                        <div class="card-block">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <h3 class="text-center txt-primary">Password reset</h3>
                                </div>
                            </div>

                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissible fade show">
                                    {{ message | raw}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}

                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    {{ message | raw}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}

                            {% if error is defined and error is not null %}
                                <div class="alert alert-danger">
                                    {{ error.messageKey | trans(error.messagedata, 'security') }}
                                </div>
                            {% endif %}

                            {{ form_row(form.password) }}

                            <div class="row m-t-30 mb-4">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                                        CHANGE PASSWORD
                                    </button>
                                </div>
                            </div>
                            <p class="text-inverse text-center">
                                Doesn't have an account?<br>
                                <a href="{{ path('register') }}"><b>register</b></a> now!</p>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}